<nav>
        <ul class="leftul">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
        <ul class="rightul">
            <li><a href="#">Sign In</a></li>
        </ul>
    </nav>